form {
  width: 500px;
  margin: 0 auto;
}

fieldset {
  border: none;
}

label {
  line-height: 25px;
}

input[type=text],
textarea {
  width: 100%;
  padding: 5px;
  background-color: #fffff0;
  border: 1px solid #b36037;
  color: #503616;
}

textarea {
  max-width: 100%;
  height: 100px;
}

input[type=submit] {
  padding: 3px 5px;
}

fieldset.buttons {
  text-align: right;
}

div.form-item {
  margin: 10px 0;
}

.error-element {
  border: 1px solid #f00;
  background-color: #fff0f0;
  padding: 3px !important;
}
