body {
  background: url(../images/background.png) #fffff0;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #B36037;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-shadow: 1px 1px #F5E7E0;
}

p {
  margin-bottom: 20px;
  text-shadow: 1px 1px #F5E7E0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #B38937;
  text-decoration: none;
}

a:hover {
  color: #B36037;
}

a:active {
  left: -1px;
  position: relative;
  top: 1px;
}

#wrapper {
  margin: 0 5%;
}

@media (min-width: 900px) {
  #wrapper {
    width: 800px;
    margin: 0 auto;
  }
}

#header {
  padding: 20px 0 5px;
}

#content {
  background-color: #fffff0;
  color: #503616;
  font-size: .8em;
  padding: 20px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 0 0 7px #B36037;
  -moz-box-shadow: 0 0 7px #B36037;
  box-shadow: 0 0 7px #B36037;
}

#footer {
  color: #503616;
  font-size: .8em;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px #F5E7E0;
}
