server {
  listen 80 default;
  server_name _;
  root /srv/app/web;

  location / {
    try_files $uri /app_dev.php$is_args$args;
  }

  location ~ ^/app(_dev)?.php(/|$) {
    fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    fastcgi_param DOCUMENT_ROOT $realpath_root;
  }
}
